.banner {

    display: flex;
    
    align-items: center;
    
    height: 100px;
    
    background-color: #eee;
    
    }
    
    .logo {
    
    flex: 0 0 auto;
    
    }
    
    .links {
    
    display: flex  }
